<div class="form-holder">
    <form [formGroup]="diagnosesForm" (submit)=generateJSON()>
      <fieldset>
        <span class="fieldset-title">Дата:</span>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="diagnosesForm.controls.date.errors?.invalidDate">
            Невiрна дата.
        </mat-error>   
        </mat-form-field>
      </fieldset>
  
      <fieldset>
        <div class="fieldset-title">Дiагнози за ICPC-2:</div>
        <div formArrayName="diagnoses">
          <div *ngFor="let diagnosis of diagnoses.controls; let i=index">
            <div [formGroupName]="i" class="row">
  
              <mat-form-field>
                <select matNativeControl formControlName="diagnosis">
                  <option></option>
                  <option *ngFor="let diagnosis of diagnosesList" [value]="diagnosis.id">{{diagnosis.code}} {{diagnosis.name}}</option>
                </select>
              </mat-form-field>
  
              <mat-form-field class="example-full-width">
                <input matInput placeholder="коментар" formControlName="comment" />
              </mat-form-field>     
            </div>
          </div>
          <button type="button" (click)="addDiagnosis()" class="add-button">+ додати ще</button>
        </div>
      </fieldset>
  
      <button type="submit" class="form-json-button" mat-button [disabled]="diagnosesForm.status === 'INVALID'">Сформувати JSON</button>
    </form>
  
    <div class="result-json">
      <div class="fieldset-title">JSON</div>
      <mat-form-field>
        <textarea matInput rows="4" [(ngModel)]="resultJSON"></textarea>
      </mat-form-field>
    </div>
  </div>